spring:
  application:
    name: resume-analyzer-api
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  main:
    allow-bean-definition-overriding: true

server:
  tomcat:
    connection-timeout: 300000 # 5 minutes
    max-http-post-size: 10MB
  shutdown: graceful
  shutdown-wait-time: 60s
